---
import BaseLayout from "../layouts/baseLayout.astro";
const { frontmatter } = Astro.props;
---
<head>
    <title>{frontmatter.title}</title>
    <link rel="stylesheet" href="../../styles/post.css">
</head>
<BaseLayout pageTitle={frontmatter.title}>
<div class="articleSection">
    <article>
        <h1>{frontmatter.title}</h1>
        <p><em>By {frontmatter.author}</em></p>
        <p>{frontmatter.date}</p>
        <p>{frontmatter.description}</p>
        <slot />
    </article>
    <div class="artist">
        <p><img src={frontmatter.image} alt="Picture"></p>
    </div>
</div>
</BaseLayout>